<h1>Akvo FLOW</h1>
<div>
<div>{{#if loading}}Loading...{{/if}}</div>
<div>
{{#link-to 'survey_groups'}}Surveys{{/link-to}}
{{#link-to 'devices'}}Devices{{/link-to}}
{{#link-to 'data'}}Data{{/link-to}}
{{#link-to 'maps'}}Maps{{/link-to}}
{{#link-to 'users'}}Users{{/link-to}}
{{#link-to 'messages'}}Messages{{/link-to}}
</div>
</div>
<div>
  {{outlet}}
</div>

<footer style="clear:both;">
  &copy;2013 Akvo Foundation
</footer>