<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
{{#linkTo 'survey_groups'}}Survey Groups{{/linkTo}}
</nav>
<div id="main" role="main" class="container">
  <i class="icon-beaker"></i> Akvo-flow v{{FLOW.VERSION}}
</div>
<div>
{{outlet}}
</div>
