<h1>Akvo FLOW</h1>
<div>
<div>{{#if loading}}Loading...{{/if}}</div>
<div>
{{#linkTo 'survey_groups'}}Surveys{{/linkTo}}
{{#linkTo 'devices'}}Devices{{/linkTo}}
{{#linkTo 'data'}}Data{{/linkTo}}
{{#linkTo 'maps'}}Maps{{/linkTo}}
{{#linkTo 'users'}}Users{{/linkTo}}
{{#linkTo 'messages'}}messages{{/linkTo}}
</div>
</div>
<div>
  {{outlet}}
</div>

<footer style="clear:both;">
  &copy;2013 Akvo Foundation
</footer>