<form>
  <label class="languageSelector">
    <span class="labelText">{{t _dashboard_language}}:</span>
    {{view Ember.Select
      contentBinding="content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="language"
    }}
   </label>
</form>