body {
	padding-top: 20px;
	color: #000;
}

#ember-testing-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 640px;
	height: 384px;
	overflow: auto;
	z-index: 9999;
	border: 1px solid #ccc;
	background: white;
}

#ember-testing {
	zoom: 50%;
}

a, a:visited {
	color: #000;
}

a.active {
	background-color: gray;
	color: #fff;
}

.show {
	visibility: block;
}

.hide {
	display: none;
}